body{
    font-family: "Libre Baskerville";
    width: 100vw;
    height: 100vh;

}

#navbar{
    background-color: #FFF5EE;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-list{
    display: flex;
    flex-direction: row;
}

img{
    height: auto;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 500px) {
    .responsive img{
        width: 100%;
        height: auto;
    }

    .responsive h2{

    }

    .responsive p{

    }
}

li{
    list-style: none;
}

a{
    color: #000000;
    text-decoration: none;
    font-size: 1.5em;
    padding: 2rem;
}

a:hover{
    text-decoration: underline;
}

#welcome-section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./photos/PSK_3536.jpg");
    background-size: cover;
    font-weight: 100;
    font-size: 2.25em;
    color: #FFF5EE;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

#date-section-korea{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#date-div-korea-img{

}

#date-div-korea-text{
    font-weight: 100;
    font-size: 1.25em;
    font-family: "Libre Baskerville";
    margin: 30px;
}

#date-div-korea-text p{
    font-style: italic;
}
/*
#date-span-korea-text{

}
*/

#date-section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-size: 1em;
    margin: 20px;
}

#date-div-img{
    margin: 20px;
}

#date-div-text{
    font-weight: 100;
    font-size: 1.25em;
    font-family: "Libre Baskerville";
    margin: 10px;
}

#date-div-text p{
    font-style: italic;
}