body{
    font-family: "Libre Baskerville";
}

#navbar{
    background-color: #FFF5EE;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#nav-list{
    display: flex;
    flex-direction: row;
}

li{
    list-style: none;
}

a{
    color: #000000;
    text-decoration: none;
    font-size: 1.5em;
    padding: 2rem;
}

a:hover{
    text-decoration: underline;
}

#welcome-section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./photos/PSK_3536.jpg");
    background-size: cover;
    font-weight: 100;
    font-size: 2.25em;
    color: #FFF5EE;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

#date-section-korea{
    display: flex;
    align-items: center
}

#date-div-korea-img{
    flex: 0, 0, 200px;    
}

#date-div-korea-text{
    flex: 0, 0, 20%;
}
/*
#date-span-korea-text{

}
*/

#date-section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-size: 1.5em;
}

